<md-toolbar color="primary">

	<span class="navbar-item" [routerLink]="['/home']">
		<img src="./favicon.ico">
		<div style="margin-left: 20px;">Les Pipelettes</div>
	</span>

	<span class="navbar-item" [routerLink]="['/collection']">
		<div>Collection Printemps - Été 2018</div>
	</span>
	
	<span class="navbar-item" [routerLink]="['/clothings']">
		<div>Vêtements</div>
	</span>

	<span class="end-navbar-icon"></span>
	
	<span class="navbar-item" (click)="sidenav.toggle()">
		<md-icon style="font-size: 48px">account_circle</md-icon>
	</span>

</md-toolbar>

<md-sidenav-container>
	<md-sidenav #sidenav align="end" mode="over">
		<img src="./assets/img/celia_profile.png" style="width: 200px;height: 200px;">
		<p style="font-family: 'roboto-thin', sans-serif; font-size: 4rem; margin-top: 2rem; letter-spacing: 0.4rem;">CÉLIA<br/>MICHELLAND</p>
		<p style="font-family: 'roboto-thin', sans-serif; font-size: 2.5rem; margin-top: 2rem;">Styliste - Modéliste<br/>Infographiste</p>
		<div style="display: grid;">
			<div style="display: inline-flex; justify-content: center; align-items: center; margin-top: 5rem;">
				<img src="./assets/img/icons/emoji.png" style="width: 2rem; height: 2rem;">
				<p style="font-family: 'roboto-thin', sans-serif; font-size: 2.5rem; margin-left: 2rem">21 ans</p>
			</div>
			<div style="display: inline-flex; justify-content: center; align-items: center; margin-top: 2rem;">
				<img src="./assets/img/icons/car.png" style="width: 2rem; height: 2rem;">
				<p style="font-family: 'roboto-thin', sans-serif; font-size: 2.5rem; margin-left: 2rem">Permis B</p>
			</div>
			<div style="display: inline-flex; justify-content: center; align-items: center; margin-top: 2rem;">
				<img src="./assets/img/icons/map.png" style="width: 2rem; height: 2rem;">
				<p style="font-family: 'roboto-thin', sans-serif; font-size: 2.5rem; margin-left: 2rem">18, avenue Jean Bergeron<br/>69290 Craponne</p>
			</div>
			<div style="display: inline-flex; justify-content: center; align-items: center; margin-top: 2rem;">
				<img src="./assets/img/icons/mail.png" style="width: 2rem; height: 2rem;">
				<p style="font-family: 'roboto-thin', sans-serif; font-size: 2.5rem; margin-left: 2rem">cel.michelland@sfr.fr</p>
			</div>
			<div style="display: inline-flex; justify-content: center; align-items: center; margin-top: 2rem;">
				<img src="./assets/img/icons/phone.png" style="width: 2rem; height: 2rem;">
				<p style="font-family: 'roboto-thin', sans-serif; font-size: 2.5rem; margin-left: 2rem">06.46.75.86.37</p>
			</div>
		</div>
	</md-sidenav>

	<router-outlet></router-outlet>

</md-sidenav-container>