<md-toolbar color="primary">

	<span class="navbar-item" [routerLink]="['/home']">
		<img src="./favicon.ico">
		<div style="margin-left: 20px;">Les Pipelettes</div>
	</span>

	<span class="navbar-item" [routerLink]="['/collection']">
		<div>Collection Printemps - Été 2018</div>
	</span>
	
	<span class="navbar-item" [routerLink]="['/clothings']">
		<div>Vêtements</div>
	</span>

	<span class="end-navbar-icon"></span>
	
	<span class="navbar-item" (click)="sidenav.toggle()">
		<md-icon style="font-size: 48px">account_circle</md-icon>
	</span>

</md-toolbar>

<md-sidenav-container>
	<md-sidenav #sidenav align="end" mode="over">
		<img src="./assets/img/celia_profile.png" style="width: 200px;height: 200px;">
	</md-sidenav>

	<router-outlet></router-outlet>

</md-sidenav-container>

<md-menu #menu="mdMenu" [overlapTrigger]="false">
	<div md-menu-item>
		<img src="./assets/img/celia_profile.png" style="width: 20px;height: 20px;">
		<span>Test</span>
	</div>
	<button md-menu-item>Test test test test test test</button>
	<button md-menu-item>Test</button>
	<button md-menu-item>Test</button>
	<button md-menu-item>Test</button>
</md-menu>

<!--div class="logo-bar">
	<md-slider min="10" max="20" step="1" value="10" #sizeSlider></md-slider>
	<gallery
		[flexBorderSize]="8"
		[flexImageSize]="10">
	</gallery>
</div-->