/*.md-toolbar {
	color: #008975;
	margin: 0;
	padding: 15px 10px;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	position: relative;
	list-style-type: none;
	font-size: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	flex-direction: row;
	box-sizing: border-box;
	align-self: stretch;
	align-items: center;
	justify-content: flex-start;
	text-transform: uppercase;
}*/

.logo-bar {
	background-color: #3498db;
	width: 100%;
	height: 200px;
}

md-toolbar {
	font-size: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	position: fixed;
	overflow: hidden;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

md-sidenav-container {
	margin: 0;
	width: 100%;
	height: 100%;
}

md-sidenav {
	padding: 20px;
	width: 20%;
}

.button {
	padding: 0;
	margin: 0;
}

.navbar-item {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 0 24px;
	cursor: pointer;
}

.mat-icon {
	height: 36px;
	width: 36px;
}

.navbar-item:hover {
	background-color: rgb(48, 66, 166);
}