<p>
  detail-dialog-overview works!

  my data is : {{data.title}}
</p>
<md-dialog-content>
	<md-card style="width: 400px;">
		<md-card-header>
			<div md-card-avatar [style.background-image]="'url(' + data.headerImageUrl + ')' | safe: 'style'" style="background-size: cover;"></div>
			<md-card-title>{{data.title}}</md-card-title>
			<md-card-subtitle>{{data.subtitle}}</md-card-subtitle>
		</md-card-header>
		<img md-card-image [src]="data.imageUrl">
		<md-card-content>
			<p>{{data.description}}</p>
			<p>Catégorie : {{data.type}}</p>
		</md-card-content>
	</md-card>
</md-dialog-content>