.main-content {
	margin-top: 80px;
	text-align: center;
	height: 100%;
	padding: 100px 50px 100px 50px;
	font-size: 62.5%;
}

.tile {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: scale(1);
	transition: .1s ease-in-out;
}

.tile:hover {
	cursor: pointer;
	/*opacity: 0.5;*/
	transform: scale(1.01);
}