@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

@font-face {
	font-family: 'slide-title';
	src: url('./assets/fonts/us101.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'slide-text';
	src: url('./assets/fonts/Nilland.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'brand-font';
	src: url('./assets/fonts/bikinis.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'roboto-thin';
  src: url('./assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}