<video class="video" [muted]="muted" autoplay loop>
	<source src="./assets/video/video_test.mp4" type="video/mp4">
</video>
<div id="first-slide">
	<button md-mini-fab class="volumeFab" (click)="volumeOnClick()">
		<md-icon>{{volumeIcon}}</md-icon>
	</button>
	<button md-fab class="navigationFab" (click)="navigationClick()">
		<md-icon>arrow_downward</md-icon>
	</button>
</div>
<div id="second-slide" class="slide photo-slide">
	<p class="text-title">
		TOO COOL FOR MED SCHOOL
	</p>
</div>
<div id="third-slide" class="slide photo-slide"><div class="filter"></div></div>
<div id="fourth-slide" class="slide"></div>