<video class="video" [muted]="muted" autoplay loop>
	<source src="./assets/video/video_test.mp4" type="video/mp4">
</video>
<div id="first-slide">
	<button md-mini-fab class="volumeFab" (click)="volumeOnClick()">
		<md-icon>{{volumeIcon}}</md-icon>
	</button>
	<button md-fab class="navigationFab" (click)="navigationClick()">
		<md-icon>arrow_downward</md-icon>
	</button>
</div>
<div id="second-slide" class="slide photo-slide">
	<p class="text-title">
		TOO COOL FOR MED SCHOOL
	</p>
	<div class="inline-icon">
		<img src="./assets/img/icons/drmamour.png" class="icons">
		<span class="text-slide">
			"Too cool for Med school" est une collection qui rend le monde universitaire médical plus fun et attractif qu'il peut l'être.
		</span>
	</div>
	<div class="inline-icon">
		<span class="text-slide">
			Cette collection s'inspire du monde des infirmières en respectant les codes et les uniformes tout en ajoutant des touches fun, girly et vintage.
		</span>
		<img src="./assets/img/icons/bouchepillule.png" class="icons">
	</div>
	<div class="inline-icon">
		<img src="./assets/img/icons/croix.png" class="icons">
		<span class="text-slide">
			<span class="brand-text">Les Pipelettes</span> 
			Une marque qui s'adresse à une cible adolescente à l'allure preppy et coquine. Elle a autant un esprit rebelle et dérisoire, qu'un caractère amusant.
		</span>
	</div>
</div>
<div id="third-slide" class="slide photo-slide"><div class="filter"></div></div>
<div id="fourth-slide" class="slide"></div>