.slide {
	/*height: 100rem;*/
	display: inline-block;
	box-sizing: border-box;
	padding: 5rem;
}

.photo-slide {
	display: inline-block;
	box-sizing: border-box;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#first-slide {
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: relative;
}

#second-slide {
	background-color: white;
}

#third-slide {
	background-image: url(/assets/img/gallery/preview_xxs/DSC_8008-Modifier.jpg);
	width: 100%;
}

#fourth-slide {
	background-color: white;
}

/deep/ .mat-sidenav-content {
	transform: none !important;
}

.filter {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5rem;
	display: flex;
}

.video {
	width: 100%;
	top: -9vh;
	position: fixed;
	z-index: -50;
}

.navigationFab {
	position: absolute;
	right: 5vh;
	bottom: 5vh;
}

.volumeFab {
	position: absolute;
	left: 5vh;
	bottom: 5vh;
}

.text-title {
	font-family: slide-title;
	text-align: center;
	font-size: 12.5rem;
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.inline-icon {
	display: inline-flex;
	text-align: center;
}

.text-slide {
	font-family: slide-text;
	font-size: 5rem;
	color: black;
	display: flex;
    justify-content:center;
    flex-direction:column;
}

.brand-text {
	font-family: brand-font;
	font-size: 7rem;
}

.text-icons {
	color: white;
	height: 12.5vw;
	width: 12.5vw;
}

.column {
	text-align: center;
	width: 25vw;
	color: white;
	margin: auto;
}

.third-slide-text {
	font-family: slide-text;
	font-size: 3rem;
}